.banner {
  position: relative;
  width: 94%;
  max-width: 1420px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 198px;
  padding-bottom: 295px;

  &__container {
    position: relative;
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(407px - 35%);
    left: calc(50% + 80px);
    width: 705px;
    height: 515px;

    background-image:
      url("../img/motherboard-desktop@1x.png"),
      url("../img/triangle-double.svg");
    background-repeat: no-repeat;
    background-size: 705px 515px, 90% 95%;
    background-position: 0 0, 5px 13px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/motherboard-desktop@2x.png"),
        url("../img/triangle-double.svg");
    }
  }

  h1 {
    @include indents-reset;
    width: 59%;
    margin-bottom: 27px;
    font-family: $alternate-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  p {
    @include indents-reset;
    box-sizing: border-box;
    width: 66%;
    max-width: 750px;
    padding-left: 95px;
    margin-bottom: 58px;
    position: relative;
    font-size: 22px;
    line-height: 34px;
    text-transform: lowercase;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      left: 2px;
      top: 16px;
      background-color: $main-bg-color;
    }
  }

  &__link {
    color: $alternate-font-color;
  }

  &__link--consult {
    margin-left: 95px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    align-self: start;
  }

  .button {
    padding: 17px 45px;
  }

  &__link-wrapper {
    width: 100px;
    position: absolute;
    left: -40px;
    bottom: 130px;
    opacity: 0.5;
    transform: rotate(-90deg);
  }

  &__link-text--mobile {
    display: none;
  }

  .anchor-link--scroll-down {
    font-size: 14px;
    line-height: 16px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $tablet-width) {
  .banner {
    width: 77%;
    padding-top: 85px;
    padding-bottom: 180px;

    &::after {
      top: -22px;
      left: calc((100% - 591px) + (100% - 591px) * 0.17 + 365px);
      width: 315px;
      height: 386px;

      background-image:
        url("../img/motherboard-tablet@1x.png"),
        url("../img/triangle-double.svg");
      background-size: 260px 340px, cover;
      background-position: 55px 30px, 5px 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/motherboard-tablet@2x.png"),
          url("../img/triangle-double.svg");
      }
    }

    h1 {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 27px;
    }

    p {
      padding-left: 50px;
      margin-bottom: 70px;
      font-size: 18px;
      line-height: 156.8%;

      &::before {
        width: 33px;
      }
    }

    &__link--consult {
      margin-left: 50px;
    }

    .anchor-link--scroll-down {
      display: none;
    }

    .button {
      padding: 15px 31px;
    }
  }
}

@media (max-width: $mobile-width) {
  .banner {
    width: 100%;
    padding: 0 15px;
    padding-top: 200px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;

    &::after {
      top: -19px;
      left: calc((100% - 320px) + (100% - 320px) * 0.17 + 25px);
      width: 294px;
      height: 371px;

      background-image:
        url("../img/motherboard-mobile@1x.png"),
        url("../img/triangle-double.svg");
      background-size: 294px 220px, cover;
      background-position: 0 25px, 145px 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/motherboard-mobile@2x.png"),
          url("../img/triangle-double.svg");
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    h1 {
      max-width: 270px;
      font-size: 40px;
      line-height: 47px;
    }

    p {
      width: 280px;
      margin-bottom: 44px;
      font-size: 16px;
    }

    &__link--consult {
      margin: 0;
    }

    &__link-text {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }
}
