.feedback {
  background-color: $form-bg-color;
  padding-top: 94px;
  padding-bottom: 90px;

  background-repeat: no-repeat;
  background-position: calc((38% - 396px) * 2.5) 158px, calc((38% - 409px) * 2.5) 92px, calc(70% + 460px) 90px;
  background-size: auto, 665px 485px, 350px 520px;
  background-image: url("../img/airplane.png"), url("../img/triangle-double.svg"), url("../img/triangles.svg");

  &__wrap {
    width: 94%;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;

    overflow: hidden;
  }

  &__wrapper {
    width: 94%;
    max-width: 570px;
    margin-right: 17.5%;
    margin-left: auto;
  }

  h2 {
    @include indents-reset;
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    @include indents-reset;
    margin-bottom: 52px;
  }

  &__container {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    width: 270px;
  }

  &__checkbox {
    width: 270px;
  }

  form {
    label {
      width: 270px;
    }

    input[type="checkbox"] + label {
      box-sizing: border-box;
      padding-top: 8px;
      padding-left: 40px;
      font-size: 14px;
      line-height: 16px;
      opacity: 0.8;

      &::before {
        top: 9px;
        left: 7px;
      }

      &::after {
        top: 15px;
        left: 12px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 80px;
    padding-bottom: 105px;
    box-sizing: border-box;

    &__wrap {
      width: 77%;
      padding: 0;
    }

    &__wrapper {
      width: 100%;
      max-width: none;
      margin: 0;
    }

    h2 {
      font-weight: 400;
      font-size: 32px;
      line-height: 140.6%;
      margin-bottom: 18px;
    }

    p {
      margin-bottom: 50px;
    }

    &__container {
      margin-bottom: 43px;
    }

    &__button,
    &__checkbox {
      width: 47.4%;
      min-width: 280px;
    }

    &__checkbox {
      padding-left: 30px;
    }

    form {
      label {
        width: 47.4%;
        min-width: 280px;
      }

      input[type="text"],
      textarea {
        padding: 14px 16px;
      }

      textarea {
        height: 160px;
      }

      input[type="checkbox"] + label {
        padding-top: 13px;

        &::before {
          top: 12px;
          left: 13px;
        }

        &::after {
          top: 17px;
          left: 18px;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 30px;
    padding-bottom: 40px;

    &__wrap {
      width: 100%;
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 28px;
    }

    &__container {
      margin-bottom: 32px;
      flex-direction: column;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__button {
      width: 100%;
      margin-bottom: 25px;
    }

    &__checkbox {
      width: 100%;
      padding-left: 0;
    }

    form {
      label {
        width: 100%;
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input[type="text"],
      textarea {
        width: 100%;
        padding: 12px 16px;
      }

      textarea {
        height: 105px;
      }

      input[type="checkbox"] + label {
        padding-left: 30px;
        padding-top: 5px;

        &::before {
          top: 5px;
          left: 0;
        }

        &::after {
          top: 10px;
          left: 5px;
        }
      }
    }
  }
}
