.feedback {
  position: relative;
  padding-top: 95px;
  padding-bottom: 110px;
  display: flex;

  background-repeat: no-repeat;
  background-position: calc(70% + 500px) 0;
  background-image: url("../img/triangles.svg");

  &::before,
  &::after {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 665px;
    height: 487px;
    left: calc((50% - 855px) * 2);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-image: url("../img/airplane.png"), url("../img/triangle-double.svg");
    background-position: 155px 65px, 0 0;
  }

  &__wrapper {
    width: 94%;
    max-width: 570px;
    margin-right: 19.5%;
    margin-left: auto;
  }

  h2 {
    @include indents-reset;
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    @include indents-reset;
    margin-bottom: 52px;
  }

  &__fields-list {
    display: flex;
    justify-content: space-between;
  }

  &__fields-item {
    width: 270px;
    box-sizing: border-box;
  }

  &__button {
    width: 100%;
  }

  &__fields-item--checkbox {
    padding-left: 40px;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
  }

  form {
    fieldset {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    input[type="checkbox"] + label {
      &::before {
        top: 5px;
        left: 10px;
      }

      &::after {
        top: 11px;
        left: 15px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 75px;
    padding-bottom: 105px;

    &__wrapper {
      width: 100%;
      max-width: 592px;
      margin: 0 auto;
    }

    h2 {
      font-weight: 400;
      font-size: 32px;
      line-height: 140.6%;
      margin-bottom: 18px;
    }

    p {
      margin-bottom: 57px;
    }

    &__fields-list {
      align-items: center;
    }

    &__fields-item {
      width: 280px;
    }

    &__fields-item--checkbox {
      padding-top: 5px;
      padding-left: 45px;
    }

    form {
      textarea {
        height: 160px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 33px;
    padding-bottom: 40px;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 28px;
    }

    &__fields-list {
      flex-direction: column;
    }

    &__fields-item {
      width: 100%;

      margin-bottom: 32px;

      &--checkbox {
        padding-left: 35px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    form {
      fieldset {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input[type="text"],
      textarea {
        padding: 14px 16px;
      }

      textarea {
        height: 105px;
      }

      input[type="checkbox"] + label {
        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          top: 4px;
          left: 5px;
        }
      }
    }
  }
}
