.main-page-wrapper {
  padding-top: 30px;
  color: $alternate-font-color;
  background-color: $alternate-bg-color;
  background-image: url("../img/bg-header.png");
  background-position: center center;
}
