.main-page-wrapper {
  color: $alternate-font-color;
  background-repeat: no-repeat;
  background-color: $alternate-bg-color;
  background-image:
    url("../img/motherboard.png"),
    url("../img/triangle-double.svg"),
    url("../img/bg-header.png");

  background-size:
    705px 515px,
    611px 487px,
    cover;

  background-position:
    calc(50% + 430px) calc(387px - 35%),
    calc(50% + 395px) calc(410px - 35%),
    center top;
}

@media (max-width: $tablet-width) {
  .main-page-wrapper {
    background-size:
      465px 340px,
      705px 380px,
      cover;

    background-position:
      calc(50% + 360px) calc(235px - 35%),
      calc(50% + 310px) calc(190px - 35%),
      center top;
  }
}

@media (max-width: $mobile-width) {
  .main-page-wrapper {
    background-size:
      300px 220px,
      611px 370px,
      cover;

    background-position:
      calc(50% + 20px) calc(240px - 35%),
      calc(50% + 240px) calc(165px - 35%),
      center top;
  }
}
