.main-page-wrapper {
  // padding-top: 33px;
  // padding-bottom: 247px;
  color: $alternate-font-color;
  background-color: $alternate-bg-color;
  background-image:
    url("../img/bg-header.png"),
    url("../img/triangle-double.svg"),
    url("../img/motherboard.png");

  background-size: cover, 611px 487px, 705px 515px;
  background-repeat: no-repeat;
  background-position: center top, calc(50% + 395px) calc(410px - 35%), calc(50% + 430px) calc(387px - 35%);
}

@media (max-width: $tablet-width) {
  .main-page-wrapper {
    // padding-top: 20px;
    // padding-bottom: 165px;

    background-size: cover, 705px 380px, 465px 340px;
    background-position: center top, calc(50% + 310px) calc(190px - 35%), calc(50% + 360px) calc(235px - 35%);
  }
}

@media (max-width: $mobile-width) {
  .main-page-wrapper {
    // padding-bottom: 70px;

    background-size: cover, 611px 380px, 300px 220px;
    background-position: center top, calc(50% + 245px) calc(160px - 35%), calc(50% + 15px) calc(240px - 35%);
  }
}
