.page-header {
  max-width: 1411px;
  width: 94%;
  margin: 0 auto;
  padding: 33px 0;
  display: flex;
  align-items: center;

  &__logo {
    margin-right: calc(7%);
  }

  &__main-nav {
    margin-right: 20px;
  }

  &__contacts-list {
    @include ul-reset;
    width: 30.7%;
    min-width: 360px;
    margin-left: auto;
    margin-right: 3.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts-item {
    &--mail {
      min-width: 136px;
      margin-right: 20px;
    }

    &--phone {
      min-width: 215px;
    }
  }

  &__contacts-link {
    padding: 13px 0;
    padding-left: 40px;
    position: relative;
    color: $alternate-font-color;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &--mail {
      &::before {
        width: 19px;
        height: 14px;
        background-image: url("../img/icon-mail.svg");
      }
    }

    &--phone {
      &::before {
        width: 18px;
        height: 18px;
        left: 4px;
        background-image: url("../img/icon-phone.svg");
      }
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    width: 93.3%;
    min-width: 700px;
    padding-top: 20px;

    &__main-nav {
      margin-left: auto;
    }

    &__contacts-list {
      margin-left: 15px;
      margin-right: 0;
      min-width: 84px;
      width: 10%;
    }

    &__contacts-item {
      min-width: 25px;

      &--mail {
        margin-right: 25px;
      }
    }

    &__contacts-link {
      padding-left: 25px;

      span {
        display: none;
      }

      &--mail::before {
        width: 25px;
        height: 19px;
      }

      &--phone::before {
        width: 24px;
        height: 24px;
      }
    }

    &__button-callback {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    width: 90%;
    min-width: 290px;
    padding-top: 17px;
    align-items: center;

    &__logo {
      margin-right: 0;

      img {
        width: 38px;
        height: 38px;
      }

      .logo__wrapper {
        display: none;
      }
    }

    &__contacts-list {
      margin-left: 7px;
      min-width: 74px;
      // align-items: flex-start;
    }

    &__contacts-item {
      &--mail {
        margin-right: 23px;
      }
    }
  }
}
