.page-header {
  max-width: 1411px;
  width: 73.5%;
  margin: 0 auto;
  display: flex;

  &__logo {
    margin-right: 6%;
    min-width: 202px;
  }

  &__button--menu-closed {
    display: none;
  }

  &__contacts-list {
    @include ul-reset;
    width: 30.7%;
    min-width: 360px;
    margin-left: auto;
    margin-right: 2.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts-item {

    &--mail {
      min-width: 136px;
      margin-right: 20px;
    }

    &--phone {
      min-width: 215px;
    }
  }

  &__contacts-link {
    padding: 13px 0;
    padding-left: 40px;
    position: relative;
    color: $alternate-font-color;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--mail {
      &::before {
        background-image: url("../img/icon-mail.svg");
      }
    }

    &--phone {
      &::before {
        background-image: url("../img/icon-phone.svg");
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    width: 93.3%;
    min-width: 700px;

    &__contacts-list {
      margin-right: 0;
      min-width: 84px;
      width: 12%;
    }

    &__contacts-item {
      min-width: 25px;

      &--mail {
        margin-right: 33px;
      }
    }

    &__contacts-link {
      padding-left: 25px;

      span {
        display: none;
      }
    }

    &__button {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    width: 90%;
    min-width: 290px;

    &__logo {
      margin-right: 0;
      min-width: 52px;
    }

    &__contacts-list {
      min-width: 74px;
    }

    &__contacts-item {
      &--mail {
        margin-right: 23px;
      }
    }
  }
}
