.popup-feedback {
  position: fixed;
  top: 136px;
  left: 50%;
  margin-left: -12.7%;

  display: none;

  width: 25.5%;
  padding: 1.56% 2.1% 1.77%;
  box-sizing: border-box;

  color: $alternate-font-color;
  background-color: $form-bg-color;

  z-index: 50;

  &--show {
    display: block;

    animation: bounce 0.5s;
  }

  &__button-close {
    top: 20px;
    right: 20px;

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  h2 {
    font-size: 28px;
    line-height: 140.6%;

    margin-bottom: 3%;
  }

  p {
    width: 90%;
    margin-bottom: 7.4%;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    width: 100%;
    margin-bottom: 7.4%;
  }

  form {
    label {
      margin-bottom: 7.4%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    input[type="text"],
    textarea {
      padding: 14px 22px;
    }

    textarea {
      height: 105px;
    }

    input[type="checkbox"] + label {
      &::before {
        top: 5px;
        left: 0;
      }

      &::after {
        top: 11px;
        left: 5px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .popup-feedback {
    width: 262px;
    margin-left: -131px;
  }
}
