.site-menu {
  @include ul-reset;

  &__list {
    @include ul-reset;

    &--closed {
      display: none;
    }
  }
  &__item {
    a {
      color: inherit;
    }

    &:hover:not(.item--active),
    &:focus:not(.item--active) {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
}
