.social {
  width: 220px;

  &__list {
    @include ul-reset;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 16px;
    margin-bottom: 16px;

    &:nth-child(6n) {
      margin-right: 0;
    }
  }

  &__link {
    svg {
      fill: $social-icon-color;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $tablet-width) {
  .social {
    width: 120px;

    &__item {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
