/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-v20-cyrillic_latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-cyrillic_latin-500.woff") format("woff");
}

/* roboto-condensed-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-regular.woff") format("woff");
}

/* roboto-condensed-700 - cyrillic_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-cyrillic_latin-700.woff") format("woff");
}

/* pt-mono-regular - cyrillic_latin */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src:
    local("PT Mono"),
    local("PTMono-Regular"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v7-cyrillic_latin-regular.woff") format("woff");
}
