$main-font: "PT Mono", "Courier New", monospace;
$alternate-font: "Roboto Condensed", "Arial", sans-serif;
$logo-slogan-font: "Roboto", "Arial", sans-serif;

$main-font-color: #666666;
$main-bg-color: #ffffff;

$alternate-font-color: #ffffff;
$alternate-bg-color: #1B2D37;

$footer-font-color: #1B2D37;

$features-title-font-color: #00B2FF;

$logo-slogan-font-color: #788891;
$logo-name-footer-font-color: #203C42;

$year-font-color: #00B35D;

$form-bg-color: #00B2FF;

$features-border-color: #ebebeb;


$mobile-width: 767px;
$tablet-width: 1023px;
