$main-font: "PT Mono", "Courier New", monospace;
$alternate-font: "Roboto Condensed", "Arial", sans-serif;
$logo-slogan-font: "Roboto", "Arial", sans-serif;

$main-font-color: #666666;
$main-bg-color: #ffffff;

$alternate-font-color: #ffffff;
$alternate-bg-color: #1b2d37;

$footer-font-color: #1b2d37;

$features-title-font-color: #00b2ff;

$logo-slogan-font-color: #788891;
$logo-name-footer-font-color: #203c42;

$year-font-color: #00b35d;

$form-bg-color: #00b2ff;
$form-input-bg-color: rgba(255, 255, 255, .1);
$form-label-font-color: rgba(255, 255, 255, .8);

$features-border-color: #ebebeb;

$mobile-width: 767px;
$tablet-width: 1023px;
