.index-page-wrapper {
  color: $alternate-font-color;

  background-color: $alternate-bg-color;
  background-image: url("../img/bg-header-desktop@1x.png");
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}

.main-wrapper {
  background-color: $main-bg-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg-middle.svg");
}

@media (max-width: $tablet-width) {
  .index-page-wrapper {
    background-image: url("../img/bg-header-tablet@1x.png");
  }
}

@media (max-width: $mobile-width) {
  .index-page-wrapper {
    background-image: url("../img/bg-header-mobile@1x.png");
  }
}
