.button {
  min-width: 180px;
  margin: 0;
  padding: 13px 22px;

  cursor: pointer;

  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: $alternate-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: inherit;
  background-color: transparent;

  vertical-align: middle;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  white-space: nowrap;

  &--menu {
    position: relative;
    padding: 0;
    width: 37px;
    height: 13px;
    min-width: 0;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $main-bg-color;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &--blue {
    border-color: $features-title-font-color;
    background-color: $features-title-font-color;
  }

  &--details {
    color: $features-title-font-color;
    border-color: $features-title-font-color;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}
