.form {
  color: $alternate-font-color;
  background-color: $form-bg-color;

  h2 {
    @include indents-reset;

    font-family: $alternate-font;
    font-weight: 400;
  }

  p {
    @include indents-reset;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  form {
    input[type="text"],
    textarea {
      width: 100%;
      padding: 12px 16px;
      box-sizing: border-box;
      border: 2px solid transparent;
      font: inherit;
      color: inherit;
      background-color: $form-input-bg-color;

      &::placeholder {
        color: inherit;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &:focus {
        opacity: 1;
        border: 2px solid $main-bg-color;
      }
    }

    textarea {
      resize: none;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      display: block;
      position: relative;
      width: 100%;
      padding-left: 50px;
      box-sizing: border-box;

      font-size: 14px;
      line-height: 16px;
      color: $form-label-font-color;
      opacity: 0.8;

      &:hover,
      &:focus {
        opacity: 0.7;
        cursor: pointer;
      }

      &:active {
        opacity: 1;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
      }

      &::before {
        width: 16px;
        height: 16px;
        top: 7px;
        left: 15px;
        border: 2px solid $main-bg-color;
      }

      &::after {
        display: none;
        width: 8px;
        height: 5px;
        top: 13px;
        left: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../img/bg-icon-check.svg");
      }
    }

    input[type="checkbox"]:checked + label::after {
      display: block;
    }
  }
}
